body {
    background-color: #e9eef8;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.chat-container {
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    min-height: 85vh;
  }
  
  .chat-header {
    text-align: center;
    padding: 10px;
    border: solid 2px #00589b;
    border-radius: 5px;
  }
  
  .chat-messages {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 63vh;
    overflow-y: scroll;
    margin-top: 2rem;
    display: flex;
    

  }
  
  .chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 2rem;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #00589b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0071c8;
  }

  .cardMessage {
    display: flex;
    align-items: center;
  }

  .messageImage {
    width: 5rem;
    border-radius: 50%;
    border: solid 1px #00589b;
    margin-right: 0.5rem;
    
  }

  .message {
    background-color: #00589b;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    word-break: break-word;
    display: inline-block;
    width: fit-content;    
  }

  .userName {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    border: solid 2px 00589b;
    background-color: #fff;
    font-weight: bold;
    color: black;
  }